doctype html
html(lang="ru")
	head
		title Rudetrans - Каталог
		include pug/head
	body.page
		include pug/header
		.bg-aluminum
			.section-catalog: .container-fluid: .row: .col-xs-12
				h2.h2.section-catalog__title Каталог оборудования
				hr.hr.section-catalog__hr.bg-light-gray
				-
					var slides = [{
						i: 1,
						title: "Микросварочное оборудование"
					},{
						i: 2,
						title: "Промышленные машины контактной сварки"
					},{
						i: 3,
						title: "Машины контактной сварки с прямолинейным ходом верхнего электрода"
					},{
						i: 4,
						title: "Мобильные установкиконтактной сварки"
					}];
				.section-catalog__cards: each i in [1,2,3]
					each slide in slides
						.section-catalog__card
							a.card-product.card-product_hover_false.unlink(href="#")
								img.card-product__pr.img-responsive(src="images/catalog/" + slide.i + ".png" width="140" height="192")
								.card-product__title #{slide.title}
			.section-info: .container-fluid: .row: .col-xs-12
				h2.h2.section-info__title Спасибо за то, что выбрали нас!
				hr.hr.section-info__hr.bg-light-gray
				.section-info__desc
					p.p В данном разделе мы постарались наиболее рационально разместить продукцию нашей компании для того, чтобы Ваш выбор сварочного оборудования был наиболее комфортен.
					p.p В данном каталоге представлено следующее сварочное оборудование:
					ul.ul
						li.li оборудование точечная сварка; 
						li.li шовная сварка оборудование:
						li.li оборудование для контактной сварки; 
						li.li оборудование для роликовой сварки
					p.p В каталоге представлена широкая линейка машин контактной точечной сварки с радиальным ходом верхнего электрода и машин контактной точечной сварки с прямолинейным ходом верхнего электрода как ножного привода, так и пневматического.
					p.p Так же к этим аппаратам контактной сварки мы представили все возможные исполнения:
					ul.ul
						li.li серийное исполнение машины контактной сварки; 
						li.li трубный хобот для сварки цилиндрических деталей; 
						li.li электрод-тиски для контактной сварки стержней и пластинок; 
						li.li угловой держатель электрода, который позволяет производить контактную сварку в труднодоступных местах; 
						li.li держатель обычного и качающегося балочного электрода.
					p.p В этом разделе представлены все возможные модификации электродов к машинам контактной сварки. В гамме аппаратов контактной сварки присутствуют машины контактной сварки промышленного назначения различных видов исполнения: для контактной точечной, рельефной и шовной сварки, а также их комбинации. Имеется стационарная машина контактной сварки с высокочастотной инверторной технологией 10 кГц, автоматически регулирующая сварочный процесс контактно-точечной сварки, с контролем качества сварного соединения. Управление ведётся от встроенного в установку блока управления под названием “ВИРТУАЛЬНАЯ МАШИНА”, который самостоятельно производит и контролирует процесс сварки. В каталоге представлены образцы клещей контактной точечной сварки различных видов и конфигураций: от малых, предназначенных для ремонтных работ в автомастерских и сервисных центрах, до промышленных, устанавливаемых на машиностроительных производствах. Широко представлен модельный ряд оборудования для контактной точечной микросварки изделий толщиной от нескольких микрометров до 0,5 мм, с одинарной или двойной сварочной головкой. В частности присутствует пистолет (споттер)
			include pug/representatives
			include pug/clients
		include pug/foo
		include pug/script