a {
	color #008dd2
	
	&:hover,
	&:focus,
	&:active {
		color #008dd2
	}
}
.hr {
	height 8px
	border none
	margin 0 -15px 
}

.h1 {
	margin 0
	font-size 25px 
	font-weight 700 
	
	@media (min-width $md) {
		font-size 35px 
	}
	
	@media (min-width $lg) {
		font-size 44px 
	}
}

.h2 {
	margin 0
	font-size 30px 
	font-weight 700 
}

.h3 {
	font-size 18px 
	font-weight 700 
}

.h4 {
	font-size 14px 
	font-weight 400
	text-transform uppercase 
}

.p {
	margin-bottom 10px 
	font-size 16px 
	line-height 1.5 
}

.ul {
	padding 0 0 0 10px 
	margin-bottom 10px 
	font-size 16px 
	line-height 1.5
}

.li {
	list-style-type none
	
	&:before {
		content "•"
		vertical-align middle
		color #718591 
		font-size 120%
		margin-right 10px  
	}
}

label {
	font-weight 400 
}

.svg {
	fill currentColor
}

.link-more {
	position relative
	margin-right 25px 
	&:after {
		content "►"
		position absolute
		top 0
		right -25px
		display flex
		align-items center
		justify-content center
		width 20px
		height 20px
		border-radius 50%
		background-color #4cafdf
		color white
		font-size 12px
		padding-left 2px 
	}
}


.link {
	color inherit
	text-decoration none 
	
	&:hover,
	&:focus,
	&:active {
		color inherit
		text-decoration underline
	}
}

.unlink {
	color inherit
	text-decoration none
	
	&:hover,
	&:focus,
	&:active {
		color inherit
		text-decoration none
	}
}

.ulink {
	color inherit
	text-decoration underline
	
	&:hover,
	&:focus,
	&:active {
		color inherit
		text-decoration none
	}
}

.table {
	border-collapse collapse
	
	&>.tbody>.tr>td,
	&>.tbody>.tr>th {
		border none
		border 1px solid #e1e1e1
		border-collapse collapse
	}
	
	&>.tbody>.tr>th {
		background-color #eaeaea
		
	}
	
	&>.tbody>.tr>.td {
		background white 
	}
	
	&>.tbody>.tr:nth-child(even)>.td {
		background #f8f8f8
	}
}

.table>tr>th {
	font-size 16px 
	font-weight 700 
}

.table>.tr {
	// background-color #ffffff !important
	// border-bottom 1px solid #e1e1e1 !important
	
	&:nth-child(even) {
		background #f8f8f8 
	}
}

.table-wrap-900 {
	overflow auto
	
	&__table {
		min-width 900px
	}
}


.article-typo {
	font-family Intro
	 
	&__p,
	p {
		margin-bottom 20px
		font-size 14px 
		font-weight 400 
	}
	
	&__h1,
	h1 {
		margin-bottom 30px 
		font-size 30px 
		font-weight 700 
	}
	
	&__h2,
	h2 {
		margin 30px 0 20px
		font-size 24px
		font-weight 700 
	}
	
	&__h3,
	h3 {
		margin 30px 0 20px
		font-size 18px 
		font-weight 700 
	}
	
	&__h4,
	h4 {
		margin 30px 0 20px
		font-size 15px 
		font-weight 700 
	}
	
	&__h5,
	h5 {
		margin 30px 0 20px
		font-weight 700 
	}
	
	&__h62,
	h6 {
		margin 30px 0 20px
		font-weight 700 
	}
	
	&__ul,
	ul {
		padding 0 0 0 10px 
		margin-bottom 20px 
		font-size 16px 
		line-height 1.5
	}
	
	&__li,
	li {
		list-style-type none
	
		&:before {
			content "•"
			vertical-align middle
			color #718591 
			font-size 120%
			margin-right 10px  
		}
	}
}