$color-smoke-white = #f3f3f3
$color-light-gray = #b4b4b4
$color-aluminum = #f7f7f7
$color-snow = #c7e4f5
$color-cloudy = #78c3e7
$color-aqua = #00a2ff

$xs = 480px;
$sm = 768px;
$md = 992px;
$lg = 1220px;