section.bg-white.section-clients: .container-fluid: .row: .col-xs-12
	h2.h2.section-clients__title Наши клиенты
	hr.hr.section-clients__hr.bg-light-gray
	.section-clients__slider.slider-flex-center.slider-indents-20(data-slider="{\"centerMode\": true, \"variableWidth\": true, \"slidesToShow\": 5, \"arrows\": false, \"dots\": true}"): each i in [1,2]
		a.unlink(href="#"): img(src="images/client/1.jpg", alt="" width="252" height="72")
		a.unlink(href="#"): img(src="images/client/2.jpg", alt="" width="193" height="76")
		a.unlink(href="#"): img(src="images/client/3.jpg", alt="" width="220" height="70")
		//- a.unlink(href="#"): img(src="images/client/4.jpg", alt="" width="106" height="106")
		//- a.unlink(href="#"): img(src="images/client/5.jpg", alt="" width="224" height="61")