footer.section-foo: .container-fluid: .row: .col-xs-12
	.section-foo__container
		.section-foo__column.section-foo__column_nav
			foo.section-foo__nav.nav-foo
				ul.nav-foo__list
					li.nav-foo__item: a.ulink(href="#") О компании
					li.nav-foo__item: a.ulink(href="#") Каталог
					li.nav-foo__item: a.ulink(href="#") Новости
					li.nav-foo__item: a.ulink(href="#") О сварке
					li.nav-foo__item: a.ulink(href="#") Спец.предложения
					li.nav-foo__item: a.ulink(href="#") Наши клиенты
					li.nav-foo__item: a.ulink(href="#") Контакты
					li.nav-foo__item: a.ulink(href="#") Бренды
		.section-foo__column.section-foo__column_contact
			.contact-call
				.contact-call__phone 8(800) 770-0987
				.contact-call__label (Звонок по России бесплатный)
				.contact-call__schedule Работаем: Пн-Чт. с 9:00 до 18:00 Пт. с 9:00 до 17:00
			.contact-write
				.contact-write__email: a.ulink(href="#") info@rudetrans.ru
				.contact-write__address 173025, г. Великий Новгород, ул. Нехинская, д. 55
		.section-foo__column.section-foo__column_social
			nav.nav-social.sectin-top__social
				.hidden-xs.hidden-sm.nav-social__label Мы в соц. сетях:
				ul.nav-social__list
					li.nav-social__item.nav-social__item_fb: a.unlink(href="#"): svg.svg(width="32" height="32"): use(xlink:href="images/sprite.svg#fb")
					li.nav-social__item.nav-social__item_vk: a.unlink(href="#"): svg.svg(width="32" height="32"): use(xlink:href="images/sprite.svg#vk")
					li.nav-social__item.nav-social__item_youtube: a.unlink(href="#"): svg.svg(width="32" height="32"): use(xlink:href="images/sprite.svg#youtube")
					li.nav-social__item.nav-social__item_instagram: a.unlink(href="#"): svg.svg(width="32" height="32"): use(xlink:href="images/sprite.svg#instagram")
section.section-copy: .container-fluid: .row: .col-xs-12
	.section-copy__container
		.section-copy__column.section-copy__column_desc
			.section-copy__title © 2017. Рудетранс
			.section-copy__desc Все права защищены. При использовании материалов сайта прямая гиперссылка на сайт Рудетранс обязательна
		.section-copy__column.section-copy__column_stat: a.section-copy__stat.ulink(href="#") Статистика сайта
