section.section-representatives: .container-fluid: .row: .col-xs-12
	a.button.button_theme_yellow.button_size_lg.section-representatives__button(href="#") Региональные представители
	.section-representatives__slogan Узнайте адрес ближайшего к вам представителя «Рудетранс»